//----- content -----//
.page-young-faq {

  .youngFaq-staff-list {
    width: 102.4rem;
    margin: 14rem auto 0;
    @include sp {
      width: 100%;
      margin-top: 10rem;
    }
  }

  .basic-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include sp {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 31.1rem;
      margin: 0 auto;
    }
  }

  .development__container {
    gap: 2.4rem;
  }
}