.reform {
  padding: 2rem 0 0;
  @include sp {
    padding: 0;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    @include sp {
      display: block;
    }
    &:not(:last-child) {
      margin-bottom: 11rem;
      @include sp {
        margin-bottom: 5.5rem;
      }
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
      .reform__title {
        margin-left: 0;
      }
    }
  }
  &__picture {
    width: 64.8rem;
    height: 41.3rem;
    @include sp {
      width: 100%;
      height: 20.3rem;
    }
  }
  &__text {
    width: 32.4rem;
    padding: 8rem 0 0 0;
    z-index: 1;
    @include sp {
      padding: 0;
    }
  }
  &__title {
    margin: 0 0 5rem -10.8rem;
    @include sp {
      margin: -1.7rem 0 0 0;
    }
    span {
      font-size: 3.4rem;
      font-weight: 500;
      line-height: 5.6rem; /* 164.706% */
      letter-spacing: 0.034rem;
      display: inline-block;
      padding: 0.1rem 1.6rem;
      background-color: $yellow;
      white-space: nowrap;
      @include sp {
        font-size: 2.2rem;
        line-height: 3.6rem; /* 163.636% */
        letter-spacing: 0.022rem;
        padding: 0rem 1rem;
      }
    }
  }
  &__p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3.6rem; /* 257.143% */
    letter-spacing: 0.014rem;
    @include sp {
      font-size: 1.4rem;
      line-height: 3rem; /* 214.286% */
      margin-top: 2.7rem;
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
  @include sp {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

//modal
.slbCloseBtn {
  color: $yellow;
}
.slbArrow.next:before {
  border-left-color: $yellow;
}
.slbArrow.prev:before {
  border-right-color: $yellow;
}
