.welfare {
 &__container {
  border: 1px solid rgba(15, 15, 15, 0.1);
  padding: 6.3rem 7.9rem;
  display: flex;
  justify-content: space-between;
  @include sp {
   display: block;
   padding: 4.6rem 2.3rem;
  }
 }
 &__left {
  width: 29.1rem;
  @include sp {
   width: 100%;
   margin-bottom: 5rem;
  }
 }
 &__picture {
  width: 26rem;
  margin: 0 auto 3rem;
  @include sp {
   width: 16rem;
   margin: 0 auto 1.8rem;
  }
 }
 &__company {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem; /* 100% */
  letter-spacing: 0.06rem;
  margin-bottom: 2rem;
  @include sp {
   font-size: 1.6rem;
   line-height: 2rem; /* 125% */
   letter-spacing: 0.064rem;
  }
 }
 &__right {
  width: 47.6rem;
  @include sp {
   width: 100%;
  }
  .basic-p:not(:last-child) {
   margin-bottom: 2.6rem;
  }
 }

 //----- アンカーリンク（1カラムにする）-----//
 .linkArea-col1 {
  @include sp {
   grid-template-columns: repeat(1, 1fr);
  }
 }

 //----- 数字で見る働く環境 -----//
 .basic-grid.col-3 {
  @include sp {
   gap: 1.5rem;
  }
 }

 //----- 利用者の声 -----//
 .user-title__sub {
  margin: 8.5rem 0 5.6rem 0;
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
  @include sp {
   margin: 11rem 0 4rem 0;
   font-size: 2rem;
  }
 }

 .user-comment {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 5.6rem;
  font-size: 1.4rem;
  line-height: 2.8rem; /* 200% */
  @include sp {
   margin-bottom: 2.4rem;
  }
 }

 .user-icon {
  width: 8rem;
  margin-right: 2.8rem;
  @include sp {
   width: 4.8rem;
   margin-right: 0.8rem;
  }
  img {
   width: 100%;
   height: auto;
   max-width: 100%;
   max-height: 100%;
  }
 }

 .user-text {
  width: 70.4rem;
  padding: 4rem 4rem 2.8rem;
  background-color: #f5f5f5;
  border-radius: 1.2rem 1.2rem 1.2rem 0rem;
  letter-spacing: 0.014rem;
  @include sp {
   width: 25.5rem;
   padding: 2.4rem 2.2rem;
   line-height: 2.4rem; /* 171.429% */
  }

  span {
   display: block;
   padding-top: 1.2rem;
   opacity: 0.4;
   @include sp {
    padding-top: 0.8rem;
   }
  }
 }

 // 利用者の声アイコンが右側の場合
 .icon-right {
  margin: 0 0 0 2.8rem;
  @include sp {
   margin: 0 0 0 0.8rem;
  }
 }
 .text-right {
  border-radius: 1.2rem 1.2rem 0rem 1.2rem;
 }

 // 詳しく見るボタン
 .button-center {
  text-align: center;
  @include sp {
   margin-top: 4.8rem;
  }
 }
}
