// -----------------------------------------------
// card
// -----------------------------------------------
.card {
 border-radius: 1.2rem;
 background: #fff;
 box-shadow: 0px 0px 3rem 0px rgba(15, 15, 15, 0.15);
 overflow: hidden;
 position: relative;

 // a,
 // button {
 //   transition: opacity 0.3s ease-in-out;

 //   @include pc {
 //     &:hover {
 //       opacity: 0.6;
 //     }
 //   }
 // }

 &__title1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.6rem;
  /* 130% */
  letter-spacing: 0.08rem;
  background-image: url(../images/common/dot.png);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 0.6rem;
  position: relative;

  @include sp {
   font-size: 1.3rem;
   line-height: 1.7rem;
   /* 130.769% */
   letter-spacing: 0.052rem;
  }

  span {
   display: block;
   font-size: 1.4rem;
   font-weight: 400;
   line-height: 3.6rem;
   /* 257.143% */
   letter-spacing: 0.014rem;
   opacity: 0.4;
   margin-top: 0.2rem;

   @include sp {
    font-size: 1rem;
    line-height: 1.4rem;
    /* 140% */
    letter-spacing: 0.01rem;
    margin-top: 0.5rem;
   }
  }
 }

 &__textArea {
  position: relative;

  i {
   width: 0.8rem;
   height: 0.8rem;
   border-radius: 50%;
   background-color: $yellow;
   position: absolute;
   right: 0.7rem;
   top: 1.2rem;

   @include sp {
    right: 0rem;
    top: 0.7rem;
   }

   &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid $yellow;
    border-radius: 50%;
    transform: translate(-50%, -50%);
   }
  }
 }

 &__p {
  text-align: justify;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  /* 171.429% */
  letter-spacing: 0.014rem;

  @include sp {
   overflow: hidden;
   font-size: 1.2rem;
   line-height: 1.8rem;
   /* 150% */
   letter-spacing: 0.012rem;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
  }
 }
}

// -----------------------------------------------
// card-1
// -----------------------------------------------
.card-1 {
 &__picture {
  width: 100%;
  height: 25rem;
  img {
   transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  @include sp {
   height: 12rem;
  }
 }

 &__textArea {
  padding: 2.5rem 3.1rem 3.2rem;

  @include sp {
   padding: 1.3rem 1.3rem 1.9rem;
  }
 }

 &__title1 {
  margin-bottom: 2.5rem;
  padding-bottom: 1.2rem;

  @include sp {
   margin-bottom: 1rem;
   padding-bottom: 1.2rem;
  }
 }

 @include pc {
  &:hover {
   .card-1__picture {
    img {
     transform: scale(1.1);
    }
   }
  }
 }
}

// -----------------------------------------------
// card-2
// -----------------------------------------------
.card-2 {
 a {
  display: flex;

  @include sp {
   flex-direction: column;
  }
 }

 &__picture {
  // width: 27.6rem;
  width: 33.2%;
  height: 18.6rem;
  img {
   transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  @include sp {
   width: 100%;
   height: 12rem;
  }
 }

 &__textArea {
  padding: 3.2rem 4rem 1rem;
  width: 66.8%;

  @include sp {
   width: 100%;
   padding: 1.3rem 1.3rem 1.9rem;
  }
 }

 &__title1 {
  margin-bottom: 2.3rem;
  padding-bottom: 2.3rem;

  @include sp {
   margin-bottom: 1rem;
   padding-bottom: 1.2rem;
  }
 }

 @include pc {
  &:hover {
   .card-2__picture {
    img {
     transform: scale(1.1);
    }
   }
  }
 }
}

// -----------------------------------------------
// card-3
// -----------------------------------------------
.card-3 {
 box-shadow: 0px 0px 1.3rem 0px rgba(15, 15, 15, 0.15);

 button {
  text-align: left;
 }

 &__label {
  font-size: 1.2rem;
  padding: 0.6rem 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  /* 200% */
  border-radius: 0rem 0rem 1.2rem 0rem;
  background: $yellow;
  position: absolute;
  left: 0;
  top: 0;
 }

 &__picture {
  height: 24rem;
  width: 100%;
 }

 &__textArea {
  padding: 1.7rem 2rem;
  min-height: 10rem;

  // @include sp {
  //   padding: 0.9rem 1.5rem;
  // }
  i {
   right: 2rem;
   top: auto;
   bottom: 2rem;
  }
 }

 &__name {
  font-family: $Poppins;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  /* 150% */
  letter-spacing: 0.064rem;
  // @include sp {
  //   font-size: 1.4rem;
  //   letter-spacing: 0.056rem;
  //   line-height: 1.5;
  // }
 }

 &__position {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.4rem;
  /* 200% */
  letter-spacing: 0.012rem;
  opacity: 0.4;
  // @include sp {
  //   font-size: 1rem;
  //   letter-spacing: 0.01rem;
  //   line-height: 1.5;
  // }
 }

 // &:not(.sp-col-1) {
 //   @include sp {
 //     .card-3 {
 //       &__textArea {
 //         padding: 0.9rem 1.5rem;
 //       }
 //       &__name {
 //         font-size: 1.4rem;
 //         letter-spacing: 0.056rem;
 //         line-height: 1.5;
 //       }
 //       &__position {
 //         font-size: 1rem;
 //         letter-spacing: 0.01rem;
 //         line-height: 1.5;
 //       }
 //     }
 //   }
 // }
}

.swiper-slide {
 .card-3__picture {
  height: 18rem;

  @include sp {
   height: 15rem;
  }
 }

 .card-3__textArea {
  min-height: 7rem;

  @include sp {
   height: 8.5rem;
  }
 }

 .card-3__label {
  font-size: 1rem;
  padding: 0.3rem 1.2rem;

  @include sp {
   padding: 0.1rem 1.2rem;
  }
 }
}

// -----------------------------------------------
// card-4
// -----------------------------------------------
.card-4 {
 a {
  display: flex;

  @include sp {
   display: block;
  }
 }

 &__picture {
  width: 15rem;
  img {
   transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  @include sp {
   height: 12rem;
   width: 100%;
  }
 }

 &__textArea {
  padding: 0 3rem;
  height: 15rem;
  width: calc(100% - 15rem);
  display: flex;
  align-items: center;

  @include sp {
   height: auto;
   min-height: 6.9rem;
   width: 100%;
   padding: 1.3rem 1rem;
   align-items: flex-start;
  }

  i {
   right: 2rem;
   top: auto;
   bottom: 2rem;

   @include sp {
    top: 2rem;
   }
  }
 }

 &__title1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.8rem;
  /* 140% */
  letter-spacing: 0.08rem;

  @include sp {
   font-size: 1.3rem;
   line-height: 1.7rem;
   /* 130.769% */
   letter-spacing: 0.052rem;
  }
 }
 @include pc {
  &:hover {
   .card-4__picture {
    img {
     transform: scale(1.1);
    }
   }
  }
 }
}

// -----------------------------------------------
// card-5
// -----------------------------------------------
.card-5 {
 &__picture {
  width: 15rem;
 }

 &__textArea {
  padding: 0 3rem;
  height: 10rem;
  display: flex;
  align-items: center;

  @include sp {
   height: 6.4rem;
   // padding: 0 2.3rem;
   padding: 0 1.8rem;
  }

  i {
   top: 50%;
   right: 3.3rem;
   transform: translateY(-50%);

   @include sp {
    right: 2.4rem;
   }
  }
 }

 &__title1 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  /* 133.333% */
  letter-spacing: 0.072rem;

  @include sp {
   font-size: 1.4rem;
   // line-height: 2.4rem;
   // letter-spacing: 0.056rem;
   line-height: 1.6rem;
   /* 123.077% */
   letter-spacing: 0.052rem;
  }
 }

 a.anchor-link {
  &::before {
   content: '';
   position: absolute;
   top: 50%;
   right: 3rem;
   width: 2.8rem;
   height: 2.8rem;
   background-image: url(../images/common/icon_arrow_down.png);
   background-size: contain;
   transform: translateY(-50%);

   @include sp {
    width: 1.5rem;
    height: 1.5rem;
    right: 1.9rem;
   }
  }
 }
}

// -----------------------------------------------
// card-6
// -----------------------------------------------
.card-6 {
 background-color: $yellow;
 cursor: pointer;

 button {
  width: 100%;
 }

 &__picture {
  position: relative;
  height: 18rem;

  @include sp {
   height: 12.2rem;
  }

  .faq-open {
   position: absolute;
   bottom: 1rem;
   right: 1rem;
   display: block;
   width: 2.8rem;
   height: 2.8rem;
   background: url(../../assets/images/future/business/accordion_open.png) no-repeat;
   background-size: 2.6rem;
  }
 }

 &__title {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  /* 142.857% */
  letter-spacing: 0.042rem;
  text-align: center;
  padding: 1rem 0;

  @include sp {
   font-size: 1.3rem;
   padding: 0.6rem 0 0.7rem;
  }
 }
}

// -----------------------------------------------
// card-7
// -----------------------------------------------
.card-7 {
 border: 1px solid $yellow;
 height: 8.2rem;
 display: flex;
 align-items: center;
 padding-left: 6.5rem;
 position: relative;

 @include sp {
  height: auto;
  padding: 1.5rem 1rem 1.5rem 6rem;
 }

 &::before {
  content: '';
  position: absolute;
  transform: translateY(-57%);
  top: 50%;
  left: 2.8rem;
  width: 3rem;
  height: 2.5rem;
  background-image: url(../images/common/icon_check.png);
  background-size: contain;

  @include sp {
   width: 2.5rem;
   height: 2.1rem;
   left: 1.8rem;
  }
 }

 &__title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.2rem;
  /* 137.5% */
  letter-spacing: 0.016rem;

  @include sp {
   font-size: 1.4rem;
   line-height: 1.8rem;
   /* 128.571% */
   letter-spacing: 0.014rem;
  }
 }
}

// -----------------------------------------------
// card-8
// -----------------------------------------------
.card-8 {
 border: 1px solid rgba(15, 15, 15, 0.1);

 .basic-title2 {
  font-size: 1.5rem;
 }

 .basic-p {
  padding: 1.5rem 3rem 3rem;

  @include sp {
   padding: 1rem 2.3rem 2rem;
  }
 }
}

// -----------------------------------------------
// card-9
// -----------------------------------------------
.card-9 {
 position: relative;

 // padding-bottom: 18.5rem;
 // z-index: 1;
 // &.with-tag {
 //   padding-bottom: 5rem;
 // }
 &__title {
  background-color: $yellow;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
  /* 100% */
  letter-spacing: 0.08rem;
  padding: 1.4rem 0;
  margin-bottom: 4rem;

  @include sp {
   font-size: 1.4rem;
   line-height: 1.8rem;
   /* 128.571% */
   letter-spacing: 0.056rem;
   margin-bottom: 1.8rem;
  }

  &.color-pink {
   background-color: #fac8a0;
  }

  &.color-blue {
   background-color: #96d2f0;
  }
 }

 &__p {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  /* 200% */
  letter-spacing: 0.014rem;

  @include sp {
   padding: 0 1.3rem;
   font-size: 1.2rem;
   line-height: 2rem;
   /* 166.667% */
   letter-spacing: 0.012rem;
   text-align: justify;
  }
 }

 &__p-note {
  padding: 2rem 0 1rem;
  color: #9f9f9f;
  font-size: 1.2rem;
  text-align: center;

  @include sp {
   padding: 1.5rem 1.3rem 1rem;
   font-size: 1rem;
   line-height: 1.7rem; /* 220% */
   text-align: justify;
  }
 }

 &__picture {
  margin: 2.8rem 0 5rem;

  @include sp {
   margin: 1.8rem 0 2.7rem;
  }

  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // z-index: -1;
 }

 &__tag {
  text-align: center;
  margin: -1.5rem 0 6rem;

  @include sp {
   margin: -1rem 0 2.7rem;
  }

  span {
   font-size: 1.3rem;
   font-weight: 400;
   line-height: 2rem;
   /* 153.846% */
   letter-spacing: 0.039rem;
   padding: 0.5rem 2rem;
   border-radius: 9.9rem;
   border: 1px solid $yellow;

   @include sp {
    text-align: left;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.3rem;
    /* 130% */
    letter-spacing: 0.03rem;
    padding: 0.5rem 1.6rem;
   }
  }
 }
}

// -----------------------------------------------
// card-10
// -----------------------------------------------
.card-10 {
 background-color: $yellow;
 padding: 4.5rem 3.9rem 4.8rem;
 text-align: center;

 @include sp {
  padding: 3rem 3.2rem 3.1rem;
 }

 &:nth-child(even) {
  background-color: rgba(252, 207, 0, 0.5);
 }

 &__title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
  /* 100% */
  letter-spacing: 0.08rem;

  @include sp {
   font-size: 1.6rem;
   font-style: normal;
   line-height: 1.8rem;
   /* 112.5% */
   letter-spacing: 0.064rem;
   text-align: left;
  }
 }

 &__p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  /* 171.429% */
  letter-spacing: 0.014rem;
  margin-top: 2.2rem;

  @include sp {
   font-size: 1.2rem;
   line-height: 2rem;
   /* 166.667% */
   letter-spacing: 0.012rem;
   text-align: left;
   margin-top: 1.2rem;
  }
 }

 &__picture {
  margin-top: 2.5rem;

  @include sp {
   margin-top: 1.3rem;
  }
 }
}

// -----------------------------------------------
// card-11
// -----------------------------------------------
.card-11 {
 border: 1px solid rgba(15, 15, 15, 0.1);
 position: relative;

 .basic-title2 {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.8rem 0;
  letter-spacing: 0.08rem;

  @include sp {
   font-size: 1.6rem;
   letter-spacing: 0.064rem;
   padding: 1.3rem 0;
  }
 }

 .basic-p {
  padding: 1.5rem 5rem 0rem;

  @include sp {
   padding: 0.8rem 2.1rem 0rem;
  }
 }

 &__picture {
  margin: 4.5rem 0 1rem;

  @include sp {
   margin: 3rem 0 1rem;
  }
 }

 &__link {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  /* 175% */
  letter-spacing: 0.016rem;
  padding: 1.5rem 5rem 0rem;

  @include sp {
   font-size: 1.4rem;
   line-height: 2.8rem;
   /* 200% */
   letter-spacing: 0.056rem;
   padding: 0.5rem 2.1rem 0rem;
  }

  a {
   text-decoration: underline;
   text-underline-offset: 2px;
  }
 }

 &__date {
  position: absolute;
  right: 2.4rem;
  bottom: 1.5rem;
  z-index: 2;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  /* 186.667% */
  letter-spacing: 0.015rem;

  @include sp {
   font-size: 1.1rem;
   right: 0.8rem;
   bottom: 0.5rem;
  }

  span {
   font-family: $Poppins;
  }
 }
}

// -----------------------------------------------
// card-12
// -----------------------------------------------
.card-12 {
 position: relative;
 border: 1px solid rgba(15, 15, 15, 0.1);

 .basic-title2 {
  font-size: 1.6rem;
  @include sp {
   font-size: 1.3rem;
   line-height: 1.6rem; /* 123.077% */
  }
 }

 .details-box {
  padding: 3rem 0 5.6rem 0;
  color: $yellow;
  font-size: 8rem;
  font-family: $Poppins;
  font-weight: 500;
  @include sp {
   padding: 0 0 1.6rem 0;
  }
 }

 .details-text {
  display: flex;
  justify-content: center;
  font-weight: 500;
  line-height: 6.4rem; /* 80% */
  @include sp {
   font-size: 5.6rem;
  }

  em,
  span {
   color: #0f2a21;
   font-size: 1.8rem;
   font-weight: 600;
   font-family: $gothic;
   @include sp {
    font-size: 1.4rem;
   }
  }

  em {
   margin-right: 0.8rem;
   line-height: 2.2rem; /* 137.5% */
   display: flex;
   align-items: center;
   @include sp {
    margin-right: 0.5rem;
    line-height: 1.7rem;
   }
  }

  .sp-other-posi {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
  }

  span {
   margin-left: 0.3rem;
   line-height: 2.8rem; /* 75% */
   align-self: flex-end;
   @include sp {
    margin-left: 0.5rem;
    padding-bottom: 1.3rem;
    line-height: 1.5rem; /* 107.143% */
   }
  }
 }

 .details-catch {
  position: absolute;
  left: 50%;
  top: 36%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  @include sp {
   width: 100%;
   font-size: 1.2rem;
  }
 }

 .details-note {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  opacity: 0.4;
  @include sp {
   left: 0.5rem;
   bottom: 0.5rem;
  }
 }
}

// -----------------------------------------------
// card-13（社員紹介 アンカーリンクあり）
// -----------------------------------------------
.card-13 {
 margin-top: 1rem;
 overflow: visible;
 @include sp {
  margin-top: 0;
 }

 .anchor-link::after {
  display: block;
  content: '';
  position: absolute;
  bottom: -16%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.8rem;
  height: 2.8rem;
  background-image: url(../images/common/icon_arrow_down.png);
  background-size: contain;
  @include sp {
   bottom: 1rem;
   left: 12rem;
   width: 1.5rem;
   height: 1.5rem;
   transform: translate(0, 0);
   background-size: 1.5rem;
  }
 }

 .card-13__textArea {
  text-align: center;
 }

 .staff {
  &-icon {
   width: 12rem;
   height: auto;
   margin: -6rem auto 0;
   @include sp {
    width: 8rem;
    margin-top: -4rem;
    padding-bottom: 0.2rem;
   }

   img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   }
  }

  &-name {
   margin-top: 0.8rem;
   font-size: 1.8rem;
   font-weight: 500;
   @include sp {
    margin-top: 0.5rem;
    font-size: 1.4rem;
   }
  }

  &-text {
   margin-top: 0.5rem;
   padding-bottom: 3.1rem;
   font-size: 1.2rem;
   font-weight: 500;
   @include sp {
    padding: 0 1.6rem 1.6rem 1.6rem;
    font-size: 1.1rem;
    text-align: justify;
    letter-spacing: 0.011rem;
   }
  }
 }
}

// -----------------------------------------------
// card-14（社員紹介 アンカーリンク無し）
// -----------------------------------------------
.card-14 {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0 2.8rem;
 border: 1px solid $yellow;
 @include sp {
  display: block;
  padding: 0;
  text-align: center;
 }

 .youngFaq {
  &-icon {
   width: 10rem;
   height: auto;
   margin: 2.8rem 0;
   @include sp {
    width: 8rem;
    margin: 1.6rem auto 0.3rem;
   }

   img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   }
  }
  &-intro {
   margin-left: 2rem;
   @include sp {
    margin-left: 0;
    padding-bottom: 1.6rem;
   }
  }
  &-name {
   font-size: 2rem;
   @include sp {
    font-size: 1.6rem;
   }
  }
  &-tag {
   margin-top: 0.6rem;
   padding: 0 1.2rem 0.2rem;
   font-size: 1.4rem;
   font-weight: 600;
   background-color: $yellow;
   border-radius: 2.6rem;
   @include sp {
    display: inline-block;
    padding: 0.2rem 1.2rem;
    font-size: 1rem;
   }
  }
  &-text {
   margin-top: 0.8rem;
   font-size: 1.2rem;
   @include sp {
    font-size: 1rem;
   }
  }
 }
}
