.modal {
  //----- 社員インタビューのモーダル -----//
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100 * var(--vh, 1vh));
  z-index: 20;
  display: none;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.5);
  }
  &__inner {
    padding: 17vh 0;
    overflow-y: scroll;
    height: 100%;
    @include sp {
      padding: 12rem 0;
    }
  }
  &__container {
    background-color: white;
    width: 102.5rem;
    margin: auto;
    position: relative;
    display: flex;
    @include sp {
      width: 31.1rem;
      display: block;
    }
  }
  &__left {
    width: 37.6rem;
    @include sp {
      width: 100%;
    }
  }
  &__picture {
    height: 52rem;
    @include sp {
      height: 24rem;
    }
  }
  &__info {
    background: $yellow;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    // height: 12rem;
    padding: 2.3rem 4rem;
    @include sp {
      height: 7.8rem;
      align-items: center;
      padding: 0 2.3rem;
    }
  }
  &__name {
    // ------ 役職名は削除 ----- //
    // i {
    //   display: none;
    //   margin: 0 0 0.4rem;
    //   color: #0f0f0f;
    //   font-size: 1rem;
    //   font-style: normal;
    //   font-weight: 400;
    //   letter-spacing: 0.01rem;
    //   @include sp {
    //     margin: 0;
    //     font-size: 0.8rem;
    //     letter-spacing: 0.008rem;
    //   }
    // }
    em {
      display: block;
      font-family: $Poppins;
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.4rem; /* 120% */
      letter-spacing: 0.08rem;
      margin-bottom: 0.4rem;
      @include sp {
        font-size: 1.6rem;
        letter-spacing: 0.064rem;
        margin-bottom: 0rem;
      }
    }
    span {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2.4rem; /* 200% */
      letter-spacing: 0.012rem;
      @include sp {
        font-size: 1rem;
        letter-spacing: 0.01rem;
      }
    }
  }
  &__job {
    color: #fff;
    display: inline-flex;
    padding: 0.5rem 1.6rem;
    font-size: 1.2rem;
    border-radius: 9.9rem;
    background: #0f0f0f;
    font-weight: 500;
    letter-spacing: 0.012rem;
    margin-bottom: 0.6rem;
    @include sp {
      font-size: 1rem;
      letter-spacing: 0.01rem;
      padding: 0.3rem 1.6rem;
    }
  }
  &__right {
    width: calc(100% - 37.6rem);
    display: flex;
    align-items: center;
    justify-content: center;
    @include sp {
      width: 100%;
      padding: 3rem 2.3rem;
    }
  }
  &__close {
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 1.2rem 1.2rem 0rem 0rem;
    background: #0f0f0f;
    position: absolute;
    bottom: 100%;
    right: 0;
    padding-top: 0.5rem;
    @include sp {
      width: 4rem;
      height: 4rem;
    }
    svg {
      width: 3.4rem;
      height: 3.4rem;
      @include sp {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
  &__p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3.6rem; /* 257.143% */
    letter-spacing: 0.014rem;
    max-width: 48.8rem;
    @include sp {
      line-height: 3rem; /* 214.286% */
    }
  }

  //----- 写真とテキストのモーダル -----//
  &__desc-wrapper {
    width: 59.2rem;
    background-color: white;
    @include sp {
      width: 31.1rem;
    }
  }
  &__desc {
    width: 59.2rem;
    @include sp {
      width: 31.1rem;
    }
    &-title {
      padding: 2rem 0;
      margin-bottom: 6.4rem;
      background-color: #FCCF00;
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
      letter-spacing: 0.08rem;
      @include sp {
        padding: 1.2rem 0;
        margin-bottom: 4rem;
        font-size: 1.6rem;
      }
    }
    &-inner {
      width: 43.2rem;
      margin: 0 auto;
      @include sp {
        width: 25.5rem;
      }
    }
    &-text {
      margin-top: 3rem;
      padding-bottom: 5.4rem;
      font-size: 1.4rem;
      line-height: 3.2rem; /* 228.571% */
      @include sp {
        margin-top: 2.2rem;
        padding-bottom: 4.2rem;
        line-height: 3rem; /* 214.286% */
      }
    }

    //----- 技術職POINTのモーダル -----//
    &-pointTitle {
      display: flex;
      border-bottom: 1px solid #E7E7E7;
      @include sp {
        display: block;
      }
    }
    &-pointIllust {
      width: 10rem;
      margin-right: 3.2rem;
      @include sp {
        width: 10rem;
        margin: 0 auto 2.4rem;
      }
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    &-pointWrap {
      padding-bottom: 3.4rem;
      @include sp {
        text-align: center;
        padding-bottom: 2rem;
      }
    }
    &-pointTag {
      display: inline-block;
      margin-bottom: 1.2rem;
      padding: 0.6rem 1.6rem;
      border-radius: 999rem;
      background-color: #FCCF00;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 1.2rem;
      font-weight: 600;
      letter-spacing: 0.048rem;
      @include sp {
        margin: 0 auto 1.3rem;
        font-size: 1rem;
      }
    }
    &-pointCopy {
      font-size: 2rem;
      font-weight: 600;
      line-height: 3.2rem; /* 160% */
      letter-spacing: 0.02rem;
      @include sp {
        font-size: 1.6rem;
        line-height: 2.8rem; /* 175% */
        text-align: justify;
      }
    }
    &-pointText {
      margin: 4.1rem 0 5.7rem;
      font-size: 1.4rem;
      line-height: 3.2rem; /* 228.571% */
      @include sp {
        margin: 3.2rem 0 0;
        padding-bottom: 4rem;
        font-size: 1.4rem;
        line-height: 3rem; /* 214.286% */
      }
    }
  }
}
.modal-is-open {
  overflow: hidden;
}
